@font-face {
    font-family: 'kaushan_scriptregular';
    src: font_url('kaushanscript-regular-webfont.woff2') format('woff2'),
         font_url('kaushanscript-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'webfontregular';
    src: font_url('2-questa_grande_regular_31-webfont-webfont.woff2') format('woff2'),
         font_url('2-questa_grande_regular_31-webfont-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}